<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>スマート診療タスク</title>
    <!-- 統合済みの style.css を指定 -->
    <link rel="stylesheet" th:href="@{/css/style.css}">	
	
	<!-- 予約画面専用CSS -->
	   <link rel="stylesheet" th:href="@{/css/reservations.css}">
</head>
<body>
    <!-- ヘッダーをここに戻す -->
    <div th:replace="~{fragments/header :: header}"></div>

    <div class="layout-container">
        <!-- サイドメニュー -->
        <div th:replace="~{fragments/menu :: menu}"></div>

        <!-- メインコンテンツ領域 -->
		<main class="main-content">

		    <!-- スケジュール画面 -->
		    <div th:if="${page == null or page == 'schedule'}">

		        <h1 class="page-header">スケジュール</h1>

		        <!-- サマリーカード -->
		        <div th:replace="~{fragments/summary :: summary}"></div>

		        <!-- 診療一覧テーブル -->
		        <div th:replace="~{fragments/contents :: contents}"></div>

		    </div>


		    <!-- 患者一覧画面 -->
		    <div th:if="${page == 'patients'}">


		        <div th:replace="~{fragments/contents-patients :: contentsPatients}"></div>

		    </div>
			  <!-- 予約画面 -->
			    <div th:if="${page == 'reservations'}">

			        <div th:replace="~{fragments/contents-reservations :: contentsReservations}"></div>

			    </div>

		</main>
		<!-- 予約画面以外でユーティリティペインを表示 -->
		<div th:if="${page != 'reservations'}">

		    <div th:replace="~{fragments/utility :: utility}"></div>

		</div>
	
</body>
</html>